* {
  box-sizing: border-box;
}

/* Default (Light Mode) Styles */
.main {
  width: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wait-text {
  font-size: medium;
  font-weight: 700;
}

span {
  display: inline-block;
}

.value-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e0e5ea;
  padding: 3px;
  padding-right: 6px;
  border-color: #e0e5ea;
  border-radius: 4px;
  margin-bottom: 9px;
}

.section-key, .section-value {
  font-size: 15px;
  margin: 1.5px;
}

.section-key {
  font-weight: 500;
}

.section-value {
  flex-grow: 1;
  margin-right: 10px;
}

.octicon {
  cursor: pointer;
}

.json-item {
  margin-bottom: 25px;
}

.section-name {
  display: block;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 9px;
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e1e1e;
    color: #d1d5db; /* Light text color for better contrast */
  }

  .main {
    width: 300px;
    background-color: #252526; /* Darker background for the main container */
  }

  .value-wrap {
    background-color: #333;
    border-color: #333;
  }

  .section-key {
    color: #d1d5db; /* Light text for dark backgrounds */
  }

  .section-value {
    color: #f3f4f6; /* Slightly lighter text for values */
  }

  .octicon {
    fill: #d1d5db; /* Light fill color for icons */
  }

  .json-item {
    background-color: #2d2d2d; /* Darker background for each item */
  }

  .section-name {
    color: #fff; /* White text for section names */
  }

  .copy-icon .tooltip {
    background-color: #444; /* Dark background for the tooltip in dark mode */
    color: #fff; /* White text for the tooltip */
  }
}

