// Color variables
$light-bg: #e0e5ea;
$light-border: #e0e5ea;
$light-text: #000;
$dark-bg: #1e1e1e;
$dark-main-bg: #252526;
$dark-item-bg: #2d2d2d;
$dark-text: #d1d5db;
$dark-value-text: #f3f4f6;
$dark-icon-fill: #d1d5db;
$dark-tooltip-bg: #444;
$dark-tooltip-text: #fff;
